<div class="container-fluid side-padding">
	<div class="row">
		<!-- building list -->
		<div class="col-xs-4 side-view">
			<div>
				<ul class="no-bullets">
					<li ng-repeat="filter in activeFilters" ng-click="deactivateFilter(filter)">{{filter}}</li>
				</ul>
				Filter by architect:
				<lu-filter options="architects" filters="activeFilters" activate="activateFilter"></lu-filter>
				Filter by style:
				<lu-filter options="styles" filters="activeFilters" activate="activateFilter"></lu-filter>
			</div>
			<div ng-repeat="building in buildings | architectAndStyle:activeFilters">
				<building-item building="building"></building-item>
				<a ui-sref="singleBuilding({ id: building._id })">More</a>
				<a ui-sref="#">Edit</a>
			</div>
		</div>

		<!-- google map view -->
		<lu-map-buildings search-loc="searchLoc" class="col-xs-8 map" id="buildings-map"></lu-map-buildings>
	</div>

</div>
