<div class="form-group">
	<label for="architect">Architect: </label>
	<input type="text" class="form-control" ng-model="newBuilding.architect">
</div>

<div class="form-group">
	<label for="style">Style: </label>
	<input type="text" class="form-control" ng-model="newBuilding.style">
</div>

<div class="form-group">
	<label for="image">Image: </label>
	<input type="text" class="form-control" ng-model="newBuilding.image">
</div>

<div class="form-group">
	<label for="description">Description: </label>
	<input type="text" class="form-control" ng-model="newBuilding.description">
</div>

<button class="btn btn-primary">Submit</button>