* {
  box-sizing: border-box; }

nav {
  height: 50px;
  background-color: black;
  color: white; }
  nav h3 {
    float: left; }
  nav a {
    color: white; }
  nav ul {
    float: right; }
    nav ul li {
      display: inline-block;
      list-style: none; }
