* {
  box-sizing: border-box; }

.centered {
  margin: auto;
  float: none; }

.hidden {
  display: none; }

.no-bullet {
  list-style: none; }

html {
  height: 100%; }

nav {
  height: 50px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 0 0 20px 0; }
  nav h3 {
    float: left;
    margin: 0; }
  nav a {
    color: white;
    text-decoration: none; }
    nav a:hover {
      color: inherit;
      text-decoration: inherit;
      color: #bbb; }
  nav ul {
    float: right; }
    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 0 0 0 10px; }

.map, .side-view {
  background-color: #eee;
  height: 86vh;
  border: solid 1px black; }

.side-view {
  overflow: scroll; }

.side-padding {
  padding: 0 5%; }

.no-gutter {
  padding: 0; }

.small-map, .photo-container {
  height: 42vh;
  width: 42vh;
  float: left;
  clear: both;
  background-color: #eee;
  margin: 0 10px 2vh 0;
  overflow: hidden; }

.bottom-right {
  position: relative;
  bottom: 0;
  right: 0; }
